@model Actor 

<h1 class=" alret alert-danger text-center ">Are You Sure You Want to Delete that</h1>

<div class="row">
	<dl class="row col-9">
		<dt class="col-3">@Html.DisplayNameFor(actor => actor.Name)</dt>
		<dd class="col-9">@Html.DisplayFor(actor => actor.Name)</dd>
		<dt class="col-3">@Html.DisplayNameFor(actor => actor.Info)</dt>
		<dt class="col-9">@Html.DisplayFor(actor => actor.Info)</dt>
		<dt class="col-3">@Html.DisplayNameFor(actor => actor.Info)</dt>
		<dt class="col-9">@Html.DisplayFor(actor => actor.Info)</dt>
	</dl>

	<img class="col-2" src="@Model.ImagePath" alt="Alternate Text" style="object-fit:contain" />
</div>

<form method="post" asp-action="DeleteCurrent" asp-controller="Actor" class="col-3">
	<input type="hidden" asp-for="Id" />
@* 	<input type="hidden" asp-for="ActorPicturePath" /> *@

	<button type="submit" class="btn btn-danger col-12 mb-1">Confirm Delete</button>
</form>

@* This code make us bake to the previous bage (index view)*@
<a asp-controller="Actor"
   asp-action="GetHomePage" class="btn btn-primary col-3">
	Go-Back

</a>